.footer p {
	font-size: 12px;
}
.user-dropdown {
	cursor: pointer;
}
.avatar {
	width: 40px;
	height: 40px;
	border: 1.5px solid black;
	padding: 1.5px;
}
.avatar-show-page {
	width: 150px;
	height: 150px;
	display: block;
	margin: 0 auto;
	border-radius: 100%;
	border: 3px solid black;
	padding: 4px;
}
.avatar-modal {
	width: 100px;
	height: 100px;
	display: block;
	border: 3px solid black;
	padding: 4px;
}
.card-search-employee-result {
	display: none;
}
